<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @doortag.post_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @doortag.tag %>
</p>

<%= link_to 'Edit', edit_doortag_path(@doortag) %> |
<%= link_to 'Back', doortags_path %>
