<div id="main_title">
	 Switter 
</div>

<div id="user">
  Hi <%= @swit.username %>!
</div>

<div id="settings">
	<%= link_to 'Change Password' %> | <%= link_to 'Logout', swits_path %>
</div>

<%= render 'form' %>

<%= link_to 'List of Swits', posts_path %>


