<div id="login">
  <h3>Login</h3>
    <%= form_tag login_path do %>
      <div class="form-inputs">
        <%= label_tag :username %><br>
        <%= text_field_tag :username %>
      </div>
        <%= label_tag :password %><br>
        <%= password_field_tag :password %>


      <div class="form-actions">
        <%= submit_tag "Login", class: 'small button', id: 'log-btn' %>
        Not yet registered? <%= link_to image_tag("signup.jpg"), new_sweeter_path %>

      </div>

    <% end %>

</div>
