
<body>
  <div id="main_title">
  <%= link_to image_tag("head.jpg"), posts_path %>
  <div id="settings">
    
    <%= link_to 'Change Password', edit_sweeter_path(session[:id]) %> | <%= link_to 'Logout', logout_path %>
  </div>
</div>


  <div id="user">
   <div id="pic"><%= image_tag('pic.jpg', size: "70") %></div> <div id="hi"><%= session[:username] %></div>
  </div>

  <%= render 'form' %>
  <div id="list">

    <table>
    <% @posts.each do |post| %>
      
      <tr> <div id="main">
        <h4>
           <div id="prof_img"><%= image_tag('pic.jpg', size: "50") %></div><div id="posts"> <strong><%= post.author %></strong><br/><% text = post.body %>
          <% post.body.scan(/{(.*?)}/) do |f| %>
            <% text = text.gsub('{' + f[0] + '}', "<a data-method=\"get\" href=\"\/doortag\?tag=" + f[0] + "\">{" + f[0] + "}</a>").html_safe %>
          <% end %>
          <%= text %></div>
         
        </h4> 
             <hr><small><%= post.sweet %> Sweets   |  <%= post.sour %> Sours  |  <strong>Posted <%= time_ago_in_words(post.created_at) %> ago</strong> </small> </hr>
            <div id="menu"><%= link_to "Sweet", sweet_a_post_path(id: post.id) %> | <%= link_to 'Sour', sour_a_post_path(id: post.id) %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post_path(id: post.id), :method => :delete, data: { confirm: 'Are you sure?' } %> </div>
             <div id="form_comment">

         <%= render post.comments %>

          <%= form_for([post, post.comments.build]) do |f| %>
              <%= f.hidden_field :commenter, :value => session[:username] %>
              <%= f.text_area :body, size: "120x5", :placeholder => 'Write a Comment..'%>
              <%= f.submit "Comment", class: 'tiny button', id: 'log-btn2'%>
          <% end %>
          </div>
        </div>
      </tr>
    <% end %>
    </table>
  </div>
</body>