<div id="main_title">
   Switter 
</div>

<div id="user">
  Hi username!
</div>

<div id="settings">
  <%= link_to 'Change Password' %> | <%= link_to 'Logout', swits_path %>
</div>

<%= render 'form' %>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
<div id="new_swit">
  <%= @post.body %>

<h6>Comments</h6>
<%= render @post.comments %>
 
<%= render "comments/form" %>
<%= link_to 'Back', posts_path %>

</div>
<%= link_to 'List of swits', posts_path %>