<div id="main_title">
  <%= link_to image_tag("head.jpg"), posts_path %>
  <div id="settings">
    
    <%= link_to 'Change Password', edit_sweeter_path(session[:id]) %> | <%= link_to 'Logout', logout_path %>
  </div>
</div>


  <div id="user1">
   <div id="pic"><%= image_tag('pic.jpg', size: "70") %></div> <div id="hi">Hi <%= session[:username] %>!</div>
  </div>

<div id="signup">
	<div id="back">
		<%= link_to 'Back', posts_path %>
	</div>
	<h3>Change Password</h3>

	<%= simple_form_for(@sweeter) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :old_password %>
	    <%= f.input :password %>
	    <%= f.input :password_confirmation %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Change" %>
	  </div>
	<% end %>
</div>

