<div id="signup">
	<div id="back">
		<%= link_to 'Back', posts_path %>
	</div>
	<h3>Change Password</h3>

	<%= simple_form_for(@sweeter) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :old_password %>
	    <%= f.input :new_password %>
	    <%= f.input :password_confirmation %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Change" %>
	  </div>
	<% end %>
</div>

